<?php

namespace {{plugin_namespace}};

use ComposePress\Dice\Dice;

/*
 * Plugin Name: {{plugin_name}}
 * Version: 0.1.0
 * Text Domain:     {{plugin_slug}}
 * Domain Path:     /languages

 * @package         {{plugin_namespace}}
*/

/**
 * Singleton instance function. We will not use a global at all as that defeats the purpose of a singleton and is a bad design overall
 *
 * @SuppressWarnings(PHPMD.StaticAccess)
 * @return {{plugin_namespace}}\Plugin
 */
function {{plugin_safe_slug}}() {
	return container()->create( '\{{plugin_namespace}}\Plugin' );
}

/**
* This container singleton enables you to setup unit testing by passing an environment file to map classes in Dice
 *
 * @param string $env
 *
* @return \ComposePress\Dice\Dice
 */
function container( $env = 'prod' ) {
	static $container;
	if ( empty( $container ) ) {
		$container = new Dice();
		include __DIR__ . "/config_{$env}.php";
	}

	return $container;
}

/**
 * Init function shortcut
 */
function init() {
	{{plugin_safe_slug}}()->init();
}

/**
 * Activate function shortcut
 */
function activate( $network_wide ) {
	register_uninstall_hook( __FILE__, __NAMESPACE__ . '\\uninstall' );
	{{plugin_safe_slug}}()->init();
	{{plugin_safe_slug}}()->activate( $network_wide );
}

/**
 * Deactivate function shortcut
 */
function deactivate( $network_wide ) {
	{{plugin_safe_slug}}()->deactivate( $network_wide );
}

/**
* Uninstall function shortcut
*/
function uninstall() {
	{{plugin_safe_slug}}()->uninstall();
}

/**
 * Error for older php
 */
function php_upgrade_notice() {
	$info = get_plugin_data( __FILE__ );
	_e(
		sprintf(
			'
	<div class="error notice">
		<p>Opps! %s requires a minimum PHP version of 5.4.0. Your current version is: %s. Please contact your host to upgrade.</p>
	</div>', $info['Name'], PHP_VERSION
		)
	);
}

/**
 * Error if vendors autoload is missing
 */
function php_vendor_missing() {
	$info = get_plugin_data( __FILE__ );
	_e(
		sprintf(
			'
	<div class="error notice">
		<p>Opps! %s is corrupted it seems, please re-install the plugin.</p>
	</div>', $info['Name']
		)
	);
}

/*
 * We want to use a fairly modern php version, feel free to increase the minimum requirement
 */
if ( version_compare( PHP_VERSION, '5.4.0' ) < 0 ) {
	add_action( 'admin_notices', __NAMESPACE__ . '\\php_upgrade_notice' );
} else {
	if ( file_exists( __DIR__ . '/vendor/autoload.php' ) ) {
		include_once __DIR__ . '/vendor/autoload.php';
		add_action( 'plugins_loaded', __NAMESPACE__ . '\\init', 11 );
		register_activation_hook( __FILE__, __NAMESPACE__ . '\\activate' );
		register_deactivation_hook( __FILE__, __NAMESPACE__ . '\\deactivate' );
	} else {
		add_action( 'admin_notices', __NAMESPACE__ . '\\php_vendor_missing' );
	}
}