<?php


namespace {{plugin_namespace}};

use {{plugin_namespace}}\Core\Plugin as PluginBase;

/**
 * Class Plugin
 *
 * @package {{plugin_namespace}}
 */
class Plugin extends PluginBase {

	/**
	 * Plugin version
	 */
	const VERSION = '0.1.0';

	/**
	 * Plugin slug name
	 */
	const PLUGIN_SLUG = '{{plugin_slug}}';

	/**
	 * Plugin namespace
	 */
	const PLUGIN_NAMESPACE = '\{{plugin_namespace}}';

	/**
	 * Plugin constructor.
	 *
	 */
	public function __construct() {
		parent::__construct();
	}

	/**
	 * Method to check if plugin has its dependencies. If not, it silently aborts
	 *
	 * @return bool
	 */
	protected function get_dependencies_exist() {
		return true;
	}

	/**
	 * @return bool
	 * @throws \Exception
	 */
	protected function load_components() {
		// Conditionally lazy load components with $this->load()

}

	/**
	 * @return bool
	 */
	public function setup() {

}

	/**
	 * Plugin activation and upgrade
	 *
	 * @param $network_wide
	 *
	 * @return void
	 */
	public function activate( $network_wide ) {

	}

	/**
	 * Plugin de-activation
	 *
	 * @param $network_wide
	 *
	 * @return void
	 */
	public function deactivate( $network_wide ) {

	}

	/**
	 * Plugin uninstall
	 *
	 * @return void
	 */
	public function uninstall() {

	}
}
